/* CONTENEDOR DE LA VENTANA INVESTIGACIÓN */
.investigacion-window-container {
    display: flex;
    flex-wrap: wrap;
    width: 1728px;
    gap: 160px;
}

/**************** SECCIÓN: INVESTIGACIÓN ****************/

/* Contenedor de la sección "Investigación" */
.investigacion-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1728px;
    height: 880px;
    flex-shrink: 0;
    background: url("../img/investigacion.png") lightgray 0px -49.339px / 100% 105.666% no-repeat;
    mix-blend-mode: multiply;
}

/* Titulo "Investigación" */
.investigacion-title {
    display: flex;
    width: 592px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px; /* 50% */
    margin-top: 448px;
}

/* Contenedor del texto */
.investigacion-content {
    width: 1728px;
    height: 248px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.30);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 104px;
}

/* Texto de la sección "Investigación" */
.investigacion-text {
    width: 1392px;
    height: 152px;
    flex-shrink: 0;
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 125% */
    letter-spacing: 0.32px;
}