/* CONTENEDOR DE LA VENTANA INVESTIGACIÓN */
.investigacion-window-container {
    display: flex;
    flex-wrap: wrap;
    width: 1728px;
    gap: 160px;
}

/**************** SECCIÓN: INVESTIGACIÓN ****************/

/* Contenedor de la sección "Investigación" */
.investigacion-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1728px;
    height: 880px;
    flex-shrink: 0;
    background: url("../img/investigacion.png") lightgray 0px -49.339px / 100% 105.666% no-repeat;
    mix-blend-mode: multiply;
}

/* Titulo "Investigación" */
.investigacion-title {
    display: flex;
    width: 592px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px; /* 50% */
    margin-top: 448px;
}

/* Contenedor del texto */
.investigacion-content {
    width: 1728px;
    height: 248px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.30);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 104px;
}

/* Texto de la sección "Investigación" */
.investigacion-text {
    width: 1392px;
    height: 152px;
    flex-shrink: 0;
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 125% */
    letter-spacing: 0.32px;
}

/**************** SECCIÓN: PROYECTOS ACTUALES ****************/

/* Contenedor de la sección "Proyectos actuales" */
.proyectos-actuales-container {
    width: 1728px;
    height: 1320px;
    display: grid;
}


/* Titulo "Proyectos actuales" */
.proyectos-actuales-title {
    justify-self: center;
    width: 545px;
    height: 64px;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Contendor para los proyectos */
.project-container {
    position: relative;
    width: 1552px;
    height: 536px;
    flex-shrink: 0;
    background: #06052D;
}

/* Ajuste para el contenedor que está posicionado a la izquierda */
#left-project {
    justify-self: left;
    margin-top: 80px;
}

/* Ajuste para el contenedor que está posicionado a la derecha */
#right-project {
    justify-self: right;
    margin-top: 104px;
}

/* Contenedor para la imagen del proyecto */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #FFF;
    position: absolute;
    top: 60px;
    overflow: hidden;
}

/* Ajuste de posición para la imagen que va posicionada a la izquierda */
#left-image {
    width: 464px;
    height: 416px;
    left: 216px;
}

/* Ajuste de posición para la imagen que va posicionada a la derecha */
#right-image {
    width: 465px;
    height: 414px;
    right: 224px;
}

/* Contenedor para el contenido del proyecto */
.project-content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    width: 768px;
    height: 464px;
    position: absolute;
    top: 72px;
}

/* Ajuste para el contenedor del proyecto posicionado a la izquierda */
#left-project-content {
    right: 48px;
}

/* Ajuste para el contenedor del proyecto posicionado a la derecha */
#right-project-content {
    left: 48px;
}

/* Titulo del proyecto */
.project-title {
    width: 616px;
    height: 96px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
}

/* Linea separadora entre el titulo y la descripción */
.content-line {
    width: 736px;
    height: 2px;
    background: #FFF;
    margin-top: 56px;
    margin-bottom: 56px;
}

/* Descripción del proyecto */
.project-description {
    width: 768px;
    height: 176px;
    flex-shrink: 0;
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
}

/**************** SECCIÓN: PUBLICACIONES ****************/

/* Contenedor de la sección "Publicaciones" */
.publicaciones-container {
    width: 1728px;
    height: 1180px;
    display: grid;
}

/* Titulo "Publicaciones" */
.publicaciones-title {
    justify-self: center;
    width: 399px;
    height: 60px;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 81px;
}

/* Contenedor para la lista de publicaciones */
.publicaciones-list {
    justify-self: center;
    width: 1328px;
    height: 1040px;
    /* gap: 40px; Se quita el gap para simular una sola linea*/
    overflow-y: auto;
    scrollbar-width: none;
    /* position: relative; */
    display: flex;
    flex-direction: column;
}

.publicacion-list::-webkit-scrollbar {
    display: none;
}

/* Separador de la imagen y el contenido de la publicación */
.vertical-line {
    position: absolute;
    left: 534px;
    width: 1px;
    height: 406.074px;
    /* height: 8489px; */
    background: #D7D7D7;
}

/* Tarjeta para cada publicación */
.publication-card {
    width: 1328px;
    height: 406.074px;
    flex-shrink: 0;
    background: #FFF;
    position: relative;
}

/* Contenedor de la imagen de la publicación */
.image-publication-card {
    position: absolute;
    top: 50px;
    left: 35.85px;
    width: 448.011px;
    height: 305.691px;
    flex-shrink: 0;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
}

/* Contenedor del contenido de la publicación */
.publication-card-content {
    position: absolute;
    top: 32px;
    right: 36px;
    width: 694px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Titulo de la publicación */
.publication-card-title {
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.32px;
}

/* "Subtitulo de la publicación" */
.publication-card-subtitle {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.24px;
}

/* Autores de la publicación */
.publication-card-authors {
    margin-top: 48px;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
}

/**************** SECCIÓN: LÍNEAS DE INVESTIGACIÓN ****************/

/* Contenedor de la sección "Líneas de Investigación"*/
.lineas-de-investigacion-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1728px;
    height: 1222px;
    flex-shrink: 0;
    background: #06052D;
}

/* Titulo "Líneas de Investigación" */
.lineas-de-investigacion-title {
    margin-top: 75px;
    margin-bottom: 76px;
    width: 677px;
    height: 61px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Contenedor para lista de líneas de investigación */
.lineas-de-investigacion-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    width: 1226px;
    height: 876px;
    flex-shrink: 0;
    gap: 90px;
}

/* Tarjeta para las líneas de investigación */
.line-of-research-card {
    width: 1226px;
    height: 173px;
    display: flex;
}

/* Titulo de la línea de investigación */
.line-of-research-card-title {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 281px;
    height: 86px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.24px;
    margin-top: 43.5px;
}

/* Separador entre el titulo y la descripción */
.card-line {
    width: 2px;
    height: 173px;
    background: #FFF;
    margin-left: 90px;
}

/* Descripción de la línea de investigación */
.line-of-research-card-description {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 765px;
    height: 173px;
    flex-shrink: 0;
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    margin-top: 0px;
    margin-left: 89px;
}

/**************** SECCIÓN: INVESTIGACIONES MÁS DESTACADAS ****************/

/* Contenedor para la sección "Investigaciones más destacadas" */
.investigaciones-mas-destacadas-container {
    width: 1728px;
    height: 1483px;
    display: grid;
    gap: 80px;
}

/* Titulo "Investigaciones más destacadas" */
.investigaciones-mas-destacadas-title {
    justify-self: center;
    width: 932px;
    height: 61px;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Contenedor para la investigación */
.research-container {
    width: 1728px;
    height: 631px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Imagen de fondo de la primer investigación */
#investigacion-1 {
    background: url("../photos/investigacion-destacada-1.png");
}

/* Imagen de fondo de la segunda investigación */
#investigacion-2 {
    background: url("../photos/investigacion-destacada-2.png");
}

/* Titulo de las investigaciones más destacadas */
.investigacion-destacada-title {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.55px;
    width: 1060px;
    flex-shrink: 0;
    margin-top: 263px;
}

/* Configuración para el contenedor del titulo de la investigación destacada 1 */
#investigacion-destacada-1 {
    height: 56px;
}

/* Configuración para el contenedor del titulo de la investigación destacada 2 */
#investigacion-destacada-2 {
    height: 125px;
}

/**************** SECCIÓN: HÁBLANOS DE TU PROYECTO ****************/

/* Contenedor de la sección "Háblanos de tu proyecto" */
.hablanosContainer {
    width: 1728px;
    display: flex;
    justify-content: center;
    margin-bottom: 156px;
}

/* Subcontenedor de la sección "Hablanos de tu proyecto" */
.hablanos {
    display: flex;
    width: 1185px;
    height: 360px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-shrink: 0;
}

/* Titulo "Háblanos de tu proyecto" */
.hablanos-title {
    width: 707px;
    height: 56px;
    flex-shrink: 0;
    color: #06052D;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Texto de la sección */
.hablanos-text {
    width: 1185px;
    height: 80px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Botón "Hablemos" */
.hablanos-button {
    width: 272px;
    height: 64px;
    flex-shrink: 0;
    border-radius: var(--Corner-Full, 1000px);
    background: #06052D;
    display: flex;
    /* width: 176px;
    height: 32px; */
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: width 1.0s ease, height 1.0s ease, font-size 1.0s ease;
}

.hablanos:hover .hablanos-button {
    width: 308.7px;
    height: 66px;
    font-size: 36px;
}